<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="card-2 rounded" src="images/incluir_logo.jpg" width="50" height="50" alt="">
    </a>

    <button id="logout" class="btn btn-warning">Usuario: {{user}}</button>
</nav>
<div class="container">


</div>


<!-- user js -->
<script src="javascripts/user.js"></script>