<div class="container">

    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <br>
            <h2>Incluir Salud</h2>
            <br>
            <h5>Escriba su usuario y contraseña para ingresar</h5>
            <div class="loginform">
                <input id="user" type="text" placeholder="Usuario">
                <input id="pass" type="password" placeholder="Contraseña">
            </div>
            <br>
            <button id="login" class="btn btn-success btn-block">Ingresar</button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
</div>

<script>

    $(function(){

        $('body').keypress(function( event ) {
            if ( event.which === 13 ) {
                event.preventDefault();

                $("#login").trigger('click');
            }
        });

        $("#login").click(function(){
/*
            if($("#pass").val() === "123"){

                window.location.replace('dashboard');
            }else{
                alert("nombre de usuario o contraseña incorrecta");
            }
*/
            $.ajax({
                type: "POST",
                url: 'trylogin',
                data: {
                    user: $("#user").val(),
                    pass: $("#pass").val()
                },
                success: function(data){

                    if(data){
                        window.location.replace(data);
                    }else{
                        alert("Nombre de usuario o contraseña incorrecta");
                    }

                },
                error: function(e){
                    console.log(e);
                    alert("Nombre de usuario o contraseña incorrecta");
                }
            });
        });

    });
</script>