<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

      <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css' />

    <!-- estilo de bootstrap-datepicker -->
    <link rel='stylesheet' href='css/bootstrap-datepicker.min.css' />

    <!-- estilo de select2 -->
    <link rel='stylesheet' href='css/select2.min.css' />

      <!-- estilo de font-awesome -->
      <link rel='stylesheet' href='css/font-awesome.css' />

      <!-- bootstrap-toggle -->
      <link rel="stylesheet" href="/stylesheets/bootstrap-toggle.min.css">


      <!-- estilo de usuario -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    {{{body}}}


  <!-- Modal [Aceptar-Cancelar]-->

    <div id="modalAC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 id="modalACTitulo" class="modal-title text-light"><!--Título dinámico--></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalACBody" class="modal-body">
                    <!--Contenido dinámico-->
                </div>
                <div class="modal-footer">
                    <button id="modalACAceptar" type="button" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>División de Informática del Ministerio de Salud de San Juan</p>
    </div>


  </body>

  <!-- popper js -->
  <script src="umd/popper.min.js"></script>

  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

  <!-- select2 js -->
  <script src="js/select2.full.min.js"></script>
  <script src="js/i18n/es.js"></script>


  <!-- bootstrap-datepicker js -->
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="locales/bootstrap-datepicker.es.min.js"></script>

  <!-- bootstrap toogle -->
  <script src="/javascripts/bootstrap-toggle.min.js"></script>

</html>

<script>

    $(function(){

        console.log("- DOM ready -");

        $("#logout").click(function(){

            modalAC("Confirmar", "¿Está seguro de querer salir?", function(){ window.location.replace('logout')});

        });
    });

    function modalAC(title, body, action){

        var modalT = $('#modalACTitulo');
        var modalB = $('#modalACBody');
        var modalA = $('#modalACAceptar');
        var modal = $('#modalAC');

        modalT.text(title);

        modalB
                .empty()
                .append(body);

        modalA
                .unbind('click')
                .click(action);

        modal.modal('show');

    }


</script>