<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>


    <!-- estilo de bootstrap -->
    <link rel='stylesheet' href='css/bootstrap.css' />

    <!-- estilo de bootstrap-datepicker -->
    <link rel='stylesheet' href='css/bootstrap-datepicker.min.css' />

      <!-- estilo de usuario -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- jQuery -->
    <script src="jquery.min.js"></script>

  </head>
  <body>
    {{{body}}}


  <!-- Modal [Aceptar-Cancelar]-->

    <div id="modalAC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modalACTitulo" class="modal-title"><!--Título dinámico--></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalACBody" class="modal-body">
                    <!--Contenido dinámico-->
                </div>
                <div class="modal-footer">
                    <button id="modalACAceptar" type="button" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


  </body>

  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>


  <!-- bootstrap-datepicker js -->
  <script src="js/bootstrap-datepicker.min.js"></script>


</html>
