<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="card-2 rounded" src="images/incluir_logo.jpg" width="50" height="50" alt="">

    </a>
    <h3 class="text-light">Incluir Salud</h3>
    <button id="logout" class="btn btn-warning"><i class="fa fa-power-off"></i> Usuario: {{user}}</button>
</nav>

<div class="container">
    <br>
    <br>
    <table id="encabezado" class="card-1 table table-primary table-striped table-hover">
        <tr>
            <thead class="thead-dark">
                <th>Nº Planilla</th>
                <th>Supervisor</th>
                <th>Encuestador</th>
                <th>Departamento</th>

            </thead>
        </tr>
        <tr>
            <td><input id="numeroPlanilla" type="text" class="form-control" placeholder="Nº planilla"></td>
            <td><select class="selectSupervisor"></select></td>
            <td><select class="selectEncuestador"></select></td>
            <td><select class="selectDepartamento"></select></td>
        </tr>
    </table>

    <button id="agregarRegistro" class="btn btn-sm btn-success">+Agregar</button>

</div>

<script src="javascripts/planillas.js"></script>