<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="card-2 rounded" src="images/incluir_logo.jpg" width="50" height="50" alt="">

    </a>
    <h3 class="text-light">Incluir Salud</h3>
    <button id="logout" class="btn btn-warning"><i class="fa fa-power-off"></i> Usuario: {{user}}</button>
</nav>

<div class="container">
    <br>
    <br>


    <button id="agregarPlanilla" class="btn btn-sm btn-success">+Agregar Planilla</button>
    <button id="agregarEncuesta" class="btn btn-sm btn-success">+Agregar Encuesta</button>
    <button id="agregarRegistro" class="btn btn-sm btn-success">+Agregar Registro</button>
    <br>
    <br>
    <table id="encabezado" class="card-1 table table-primary table-striped table-hover">
        <tbody id="planillasBody">

        </tbody>
    </table>

</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpjpAsKeGWDM1REdx9hTuMXwtwbknN6DU" async defer></script>
<!-- Carga de planillas de registros -->
<script src="javascripts/planillas.js"></script>
<!-- Modal de carga de registros -->
<script src="javascripts/registros.js"></script>
<!-- Modal carga de encuestas de satisfacción -->
<script src="javascripts/encuesta.js"></script>
<!-- Modal para agregar encabezado de planilla -->
<script src="javascripts/encabezado.js"></script>
