<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="card-2 rounded" src="images/incluir_logo.jpg" width="50" height="50" alt="">

    </a>
    <h3>Incluir Salud</h3>
    <button id="logout" class="btn btn-warning">Usuario: {{user}}</button>
</nav>

<div class="container">
    <h6>Nueva planilla</h6>


</div>