body {
  background-color: #0099CC;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 34px;
  user-select: none;
  -webkit-user-select: none; }

/* line 131 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 32px; }

/* line 139 */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px; }

#map {
  height: 400px;
  width: 100%;
}



.select2-selection--multiple {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-selection--multiple {
  height: 100% !important;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.loginform{
  margin-top: 20%;
}

/* lo deshabilité por el acordeón
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}*/

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}
/*
evita que salga del modal
https://github.com/select2/select2/issues/4585
*/
li.select2-selection__choice {
  max-width: 100%;
  overflow: hidden;
  /*Altered two below to make word wrap work */
  word-wrap: normal !important;
  white-space: normal;
}
ul.select2-selection__rendered {
  padding-right: 12px !important;
}


.modal-lg {
  max-width: 1200px;

}
/*
.modal-content {

  background-color: #afcff2 !important;
}
*/
.inputtipobootstrap {
  width: 100%;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  display: block;
}


.table th, .table td {

  border-top: none !important;
}

.tab-content {

  border-top: none;
  border-bottom: 1px solid grey !important;
  border-left: 1px solid grey !important;
  border-right: 1px solid grey !important;
}


.select2-selection__choice{

  color: black !important;
}

#titular > .active {

  background-color: #28a745 !important;
}


input[type=radio], input[type=checkbox] {
  width:1.5em;
  height:1.5em;
}

.select2-selection--single {
  height: 100% !important;
}
.select2-selection__rendered{
  word-wrap: break-word !important;
  text-overflow: inherit !important;
  white-space: normal !important;
}


.btnPlanilla {
  background-color: #b8daff;
}


.botonesList{
  display : grid !important;

}

.btn-success {

  background-color: #00C851;
  color: #fff;
}

.btn-warning {

  background-color: #ffbb33;
  color: #fff;
}

.btn-danger {

  background-color: #ff4444;
  color: #fff;
}

.nav-link.active,.nav-link.show {
  background: #fff !important;
}

a.bg-light:hover{
  background: #fff !important;
  border: 1px solid #00C851 !important;
}

.nav-link.active,.nav-link.show:hover {
  background: #fff !important;
}

.nav-link {
  color: black !important;
}